.pages-landing-search-container {
  width: 100vw;
  height: 160px;
  cursor: default;
}
.pages-landing-splash {
  width: 300px;
  padding-top: 86px;
  padding-bottom: 158px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  cursor: default;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 900;
  font-size: 150%;
  background-image: url(../images/Unsealed_Spellbook_rune.png) !important;
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center center;
}
.pages-landing-tutorial-content {
  width: 300px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  cursor: default;
}
.pages-landing-tutorial-content2 {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
  cursor: default;
}

@media (min-width: 414px) {
  .pages-landing-splash {
    width: 380px;
    padding-top: 114px;
    padding-bottom: 210px;
    font-weight: bolder;
    font-size: 180%;
  }
  .pages-landing-tutorial-content {
    width: 380px;
  }
  .pages-landing-tutorial-content2 {
    width: 380px;
  }
}
@media (min-width: 520px) {
  .pages-landing-splash {
    width: 500px;
    padding-top: 172px;
    padding-bottom: 272px;
    font-weight: 900;
    font-size: 250%;
  }
  .pages-landing-tutorial-content {
    width: 500px;
  }
  .pages-landing-tutorial-content2 {
    width: 500px;
  }
}

@media (max-width: 899px) {
  .pages-landing-content-container {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 900px) {
  .pages-landing-list-container {
    width: 30vw;
    overflow: hidden;
    float: left;
  }
  .pages-landing-card-container {
    width: 50vw;
    padding-bottom: 20px;
    overflow: hidden;
    float: left;
  }
}
@media (min-width: 1100px) {
  .pages-landing-card-container {
    width: 30vw;
  }
}

.page-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/fullbackgroundtexture.png) !important;
}

.page-spellbook-container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
}
.page-spellbook-li {
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
  /* font-family: "Spirax", cursive; */
  font-family: "Oregano", cursive;
  font-size: 130%;
  /* text-decoration: underline; */
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.page-spellbook-li:hover {
  transform: scale(1.03) translate(6px);
}

.pages-spellbook-content {
  max-width: 1000px;
  margin: auto;
  background-image: url(../images/fullbackgroundtexture.png);
  background-position: 100% 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100vh;
  overflow: hidden;
}
@media (min-width: 769px) {
  .pages-spellbook-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 999px) {
  .pages-spellbook-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* @media (min-width: 800px) {
  .page-signup-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
} */
