.page-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-spellbook-container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
}
.page-spellbook-li {
  cursor: pointer;
}

.pages-spellbook-content {
  max-width: 1000px;
  margin: auto;
  background: blue;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100vh;
  overflow: hidden;
}
@media (min-width: 769px) {
  .pages-spellbook-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 999px) {
  .pages-spellbook-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
}

/* @media (min-width: 800px) {
  .page-signup-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
} */
