.card-container {
  margin: auto;
  margin-bottom: 50px;
  margin-top: 30px;
  width: 320px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.19), 0 8px 17px rgba(0, 0, 0, 0.2);
  border: 1px solid #eee;
  overflow: hidden;
  padding: 15px;
}

.card-text-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-icon {
  height: 20px;
  margin-right: 5px;
  margin-bottom: -3px;
}

.text-center {
  text-align: center;
}

.full {
  width: 100%;
  float: left;
}

.half {
  width: 50%;
  float: left;
}

.twoThirds {
  width: 66.7%;
  float: left;
}

.third {
  width: 33.3%;
  float: left;
}
