/* .search-name {
  width: 200px;
  margin-top: 5px;
} */
.search-input {
  width: 200px;
  background-color: gainsboro;
  box-shadow: none !important;
  border: none !important;
  border-radius: 2px;
  padding-left: 5px;
  margin-top: 5px;
}

.search-container {
  margin-top: 10px;
  /* margin-top:10px; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-sub-container {
  width: 200px;
}

.search-submit {
  float: right;
}

/* .search-submit-container {
  width: 200px;
  margin-top: 5px;
} */
